.waves-effect.waves-orange {    background-color:darkorange;
  }

.waves-effect.waves-red {    background-color:darkred;
  }

.waves-effect.waves-green {    background-color:darkgreen;
  }

.waves-effect.waves-blue {    background-color:darkblue;
  }

::-webkit-scrollbar {
    width: 8px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}