::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: black;
}


h6{
    color: black;
    font-family: cursive;
}


h7{
    color: black;
    font-family: cursive;
}