::-webkit-scrollbar {
    width: 8px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}


h6{
   color: darkred;
   font-family: cursive;
}


h7{
    color: darkred;
    font-family: cursive;
}