{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="font-family: cursive">Issikai World</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static "css/style6.css" %}">
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css>
    <link rel="stylesheet" href=https://fonts.googleapis.com/icon?family=Material+Icons>
    <link rel="canonical" href="https://themes.materializecss.com/pages/startup-horizontal-half.html">
    <link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">
    <link href="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-materialize.min.css?v=6801316432905304896" rel="stylesheet">
    <!-- Stylesheet -->
    <link href="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-materialize.min.css?v=6801316432905304896" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/17758583/digital_wallets/dialog">
<meta name="shopify-checkout-api-token" content="6aacc581eb2b41d74f03c38d3c985dba">
<meta id="in-context-paypal-metadata" data-shop-id="17758583" data-venmo-supported="true" data-environment="production" data-locale="en_US" data-paypal-v4="true" data-currency="USD">
<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">
<script id="apple-pay-shop-capabilities" type="application/json">{"shopId":17758583,"countryCode":"US","currencyCode":"USD","merchantCapabilities":["supports3DS"],"merchantId":"gid:\/\/shopify\/Shop\/17758583","merchantName":"Materialize Themes","requiredBillingContactFields":["postalAddress","email"],"requiredShippingContactFields":["postalAddress","email"],"shippingType":"shipping","supportedNetworks":["visa","masterCard","amex","discover"],"total":{"type":"pending","label":"Materialize Themes","amount":"1.00"}}</script>
<script id="shopify-features" type="application/json">{"accessToken":"6aacc581eb2b41d74f03c38d3c985dba","betas":["rich-media-storefront-analytics"],"domain":"themes.materializecss.com","predictiveSearch":true,"shopId":17758583,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js","locale":"en"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "materialize-themes.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"USD","rate":"1.0"};
Shopify.theme = {"name":"debut","id":133945025,"theme_store_id":796,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script>window.ShopifyPay = window.ShopifyPay || {};
window.ShopifyPay.apiHost = "pay.shopify.com";</script>
<script id="__st">var __st={"a":17758583,"offset":-25200,"reqid":"2d65712a-84d5-4733-90aa-f0e3ca8031d6","pageurl":"themes.materializecss.com\/pages\/startup-horizontal-half.html","s":"pages-203794817","u":"0400de733393","p":"page","rtyp":"page","rid":203794817};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'USD';
var meta = {"page":{"pageType":"page","resourceType":"page","resourceId":203794817}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {

};
</script>
<script class="analytics">(window.gaDevIds=window.gaDevIds||[]).push('BwiEti');


(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var isDuplicatedThankYouPageView = function() {
    return document.cookie.indexOf('loggedConversion=' + window.location.pathname) !== -1;
  }

  var setCookieIfThankYouPage = function() {
    if (window.location.pathname.indexOf('/checkouts') !== -1 &&
        window.location.pathname.indexOf('/thank_you') !== -1) {

      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

      document.cookie = 'loggedConversion=' + window.location.pathname + '; expires=' + twoMonthsFromNow;
    }
  }

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config;
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {
      (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
    };
    script.async = true;
    script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2020.06.22.1';
    var first = document.getElementsByTagName('script')[0];
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":17758583,"isMerchantRequest":null,"themeId":133945025,"themeCityHash":"1670185919760860438","contentLanguage":"en","currency":"USD"},"isServerSideCookieWritingEnabled":true},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":1},"Google Analytics":{"trackingId":"UA-56218128-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Session Attribution":{}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;

      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action && action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href && href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });


    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;
      (function () {
        if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
          return;
        }
        window.BOOMR = window.BOOMR || {};
        window.BOOMR.snippetStart = new Date().getTime();
        window.BOOMR.snippetExecuted = true;
        window.BOOMR.snippetVersion = 12;
        window.BOOMR.application = "core";
        window.BOOMR.shopId = 17758583;
        window.BOOMR.themeId = 133945025;
        window.BOOMR.url =
          "https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
        var where = document.currentScript || document.getElementsByTagName("script")[0];
        var parentNode = where.parentNode;
        var promoted = false;
        var LOADER_TIMEOUT = 3000;
        function promote() {
          if (promoted) {
            return;
          }
          var script = document.createElement("script");
          script.id = "boomr-scr-as";
          script.src = window.BOOMR.url;
          script.async = true;
          parentNode.appendChild(script);
          promoted = true;
        }
        function iframeLoader(wasFallback) {
          promoted = true;
          var dom, bootstrap, iframe, iframeStyle;
          var doc = document;
          var win = window;
          window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
          bootstrap = function(parent, scriptId) {
            var script = doc.createElement("script");
            script.id = scriptId || "boomr-if-as";
            script.src = window.BOOMR.url;
            BOOMR_lstart = new Date().getTime();
            parent = parent || doc.body;
            parent.appendChild(script);
          };
          if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
            window.BOOMR.snippetMethod = "s";
            bootstrap(parentNode, "boomr-async");
            return;
          }
          iframe = document.createElement("IFRAME");
          iframe.src = "about:blank";
          iframe.title = "";
          iframe.role = "presentation";
          iframe.loading = "eager";
          iframeStyle = (iframe.frameElement || iframe).style;
          iframeStyle.width = 0;
          iframeStyle.height = 0;
          iframeStyle.border = 0;
          iframeStyle.display = "none";
          parentNode.appendChild(iframe);
          try {
            win = iframe.contentWindow;
            doc = win.document.open();
          } catch (e) {
            dom = document.domain;
            iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
            win = iframe.contentWindow;
            doc = win.document.open();
          }
          if (dom) {
            doc._boomrl = function() {
              this.domain = dom;
              bootstrap();
            };
            doc.write("<body onload='document._boomrl();'>");
          } else {
            win._boomrl = function() {
              bootstrap();
            };
            if (win.addEventListener) {
              win.addEventListener("load", win._boomrl, false);
            } else if (win.attachEvent) {
              win.attachEvent("onload", win._boomrl);
            }
          }
          doc.close();
        }
        var link = document.createElement("link");
        if (link.relList &&
          typeof link.relList.supports === "function" &&
          link.relList.supports("preload") &&
          ("as" in link)) {
          window.BOOMR.snippetMethod = "p";
          link.href = window.BOOMR.url;
          link.rel = "preload";
          link.as = "script";
          link.addEventListener("load", promote);
          link.addEventListener("error", function() {
            iframeLoader(true);
          });
          setTimeout(function() {
            if (!promoted) {
              iframeLoader(true);
            }
          }, LOADER_TIMEOUT);
          BOOMR_lstart = new Date().getTime();
          parentNode.appendChild(link);
        } else {
          iframeLoader(false);
        }
        function boomerangSaveLoadTime(e) {
          window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
        }
        if (window.addEventListener) {
          window.addEventListener("load", boomerangSaveLoadTime, false);
        } else if (window.attachEvent) {
          window.attachEvent("onload", boomerangSaveLoadTime);
        }
        if (document.addEventListener) {
          document.addEventListener("onBoomerangLoaded", function(e) {
            e.detail.BOOMR.init({
              ResourceTiming: {
                enabled: true,
                trackedResourceTypes: ["script", "img", "css"]
              },
            });
            e.detail.BOOMR.t_end = new Date().getTime();
          });
        } else if (document.attachEvent) {
          document.attachEvent("onpropertychange", function(e) {
            if (!e) e=event;
            if (e.propertyName === "onBoomerangLoaded") {
              e.detail.BOOMR.init({
                ResourceTiming: {
                  enabled: true,
                  trackedResourceTypes: ["script", "img", "css"]
                },
              });
              e.detail.BOOMR.t_end = new Date().getTime();
            }
          });
        }
      })();


    if (!isDuplicatedThankYouPageView()) {
      setCookieIfThankYouPage();

        window.ShopifyAnalytics.lib.page(
          null,
          {"pageType":"page","resourceType":"page","resourceId":203794817}
        );


    }
  });


      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-2632023fb2795bd6668b6fbae05b661baba07afb3d62048f023763eca3cd96e3.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

})();</script>
<script integrity="sha256-BFmLd7EQOpIHg76CWl9MJFqROXNgxiHNdyBpz5k0cRM=" crossorigin="anonymous" data-source-attribution="shopify.loadfeatures" defer="defer" src="//cdn.shopify.com/s/assets/storefront/load_feature-04598b77b1103a920783be825a5f4c245a91397360c621cd772069cf99347113.js"></script>
<script crossorigin="anonymous" defer="defer" src="//cdn.shopify.com/s/assets/shopify_pay/storefront-21b5dddfc8b64c1ad68cee3ba7448d1ffa15c24e969ebc1fbccf1a3784b659ad.js?v=20190107"></script>
<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="//cdn.shopify.com/s/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>
<script defer="defer" src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-99e991855b3d8ddc69e625c68ab0579dd9927b611c2ec4943d396c72e3af0849.js"></script>


<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 240px;
  }
}
</style><script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
  <link rel="canonical" href="https://themes.materializecss.com/pages/startup-horizontal-half.html">
</head>
<body>
<nav style="background-color:hotpink">
<div class="container">
        <a href="pink" class="brand-logo" style="font-family:cursive">Issikai World</a>
        <ul id="nav-mobile" class="ag hide-on-med-and-down">
            <li>
                <a class="dropdown-button" data-activates="feature-dropdown" data-constrainWidth="false" data-belowOrigin="true" style="font-family:cursive">
                    colors
                    <i class="material-icons ag" style="color:black">
                        arrow_drop_down
                    </i>
                </a>
            </li>
        </ul>

        <ul id="feature-dropdown"class="dropdown-content" style="color:orange">
          <li><a  href="/" style="color:orange ; font-family:cursive ; padding-left:0.2cm">orange</a></li>
          <li><a href="blue" style="color:blue ; font-family:cursive ; padding-left:0.2cm">blue</a></li>
          <li><a href="red" style="color:darkred ; font-family:cursive ; padding-left:0.2cm">red</a></li>
          <li><a href="purple" style="color:purple ; font-family:cursive ; padding-left:0.2cm">purple</a></li>
          <li><a href="green" style="color:darkgreen ; font-family:cursive ; padding-left:0.2cm">green</a></li>
          <li><a href="white" style="color:black ; font-family:cursive ; padding-left:0.2cm">white</a></li>
          <li><a href="pink" style="color:hotpink ; font-family:cursive ; padding-left:0.2cm">Pink</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse ag"><i class="material-icons white-text">menu</i></a>


        <ul id="nav-mobile" class="ag hide-on-med-and-down">
            <li>
                <a class="dropdown-button" data-activates="pages" data-constrainWidth="false" data-belowOrigin="true" style="font-family:cursive">
                    categories
                    <i class="material-icons ag" style="color:black">
                        arrow_drop_down
                    </i>
                </a>
            </li>
        </ul>

        <ul id="pages" class="dropdown-content" style="color:orange ; width:3.5cm">
          <li><a  href="pink" style="color:hotpink ; font-family:cursive ; padding-left:0.2cm">  anime</a></li>
          <li><a href="pink_movie" style="color:hotpink ; font-family:cursive ; padding-left:0.2cm">anime movie</a></li>
        </ul>
    <a href="#" data-activates="slide-out" class="button-collapse ag"><i class="material-icons white-text">menu</i></a>
</div>
</nav>
<div class="container">
    <h1 style="text-align: center ; font-family:cursive"> any anime you are looking for... you will find it!</h1>
    <div class="row">
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color:hotpink">flash_on</i>
                <p style="font-family:cursive">find the anime you want really fast</p>
            </div>
        </div>

        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color:hotpink">camera</i>
                <p style="font-family:cursive">Filter your searches</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color:hotpink">chrome_reader_mode</i>
                <p class="light center" style="font-family:cursive">We built this with ❤️</p>
            </div>
        </div>
    </div>
    <form action="{% url 'pink_search' %}" method="post">
        {% csrf_token %}
          <nav style="background-color:hotpink">
              <div class="nav-wrapper">
                  <form>
                      <div class="input-field">
                          <input id="search" type="search" name="search">
                          <label class="label-icon" for="search"><i class="material-icons"style="color:black">search</i></label>
                          <i class="material-icons">close</i>
                      </div>
                  </form>
              </div>
          </nav>
    </form>
        <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn-us.anidb.net/images/main/191671.jpg"style="height:10cm">
                    <span class="card-title" style="font-family: cursive ; color: black">Masamune kun no Revenge</span>
                </div>
                <div class="card-content">
                    <p><h6>Masamune kun no Revenge</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-masamune-kun-no-revenge-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://vignette.wikia.nocookie.net/just-because/images/9/9e/JustBecauseAnime.jpg/revision/latest/scale-to-width-down/340?cb=20170910212608"style="height:10cm">
                    <span class="card-title" style="font-family: cursive">Just because</span>
                </div>
                <div class="card-content">
                    <p><h6>Just because</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-just-because-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://pics.filmaffinity.com/Skilled_Teaser_Takagi_san_TV_Series-354339679-large.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Karakai jou</span>
                </div>
                <div class="card-content">
                    <p><h6>Karakai jou</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-karakai-jouzu-no-takagi-san-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i1.wp.com/static.zerochan.net/Kimi.ni.Todoke.full.416039.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Kimi ni todoke</span>
                </div>
                <div class="card-content">
                    <p><h6>Kimi ni todoke</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/anime/anime-kimi-ni-todoke-video-all-mawasem-watch-download-hd/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://m.media-amazon.com/images/M/MV5BYWM0NjQxYmEtMDQ4MS00MWI3LTk2NzEtODk2ODE0OGZhOWNiXkEyXkFqcGdeQXVyNjc2NjA5MTU@._V1_UY1200_CR104,0,630,1200_AL_.jpg"style="height:10cm">
                    <span class="card-title" style="font-family: cursive">Kingdom</span>
                </div>
                <div class="card-content">
                    <p><h6>Kingdom</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/anime/anime-kingdom-video-all-mawasem-watch-download-hd/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://m.media-amazon.com/images/M/MV5BZTFmNDE5ZGYtOTQ1Yi00NTc3LWFhOTAtN2M1YzViNzJkOTIzXkEyXkFqcGdeQXVyNjc3MjQzNTI@._V1_UY1200_CR110,0,630,1200_AL_.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Koi WA ame</span>
                </div>
                <div class="card-content">
                    <p><h6>Koi WA ame</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-koi-wa-ameagari-no-you-ni-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.pinimg.com/originals/74/c2/b7/74c2b70c78ac18413396278ca09676bb.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Love live</span>
                </div>
                <div class="card-content">
                    <p><h6>Love live</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/anime/anime-love-live-school-idol-project-video-all-mawasem-watch-download-hd/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://m.media-amazon.com/images/M/MV5BN2FjYjQwZDktODhkYi00NmViLWJjOWItZTM5MzE4NzM5MmJhXkEyXkFqcGdeQXVyODI0MTIxNzk@._V1_.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Sakurada Reset</span>
                </div>
                <div class="card-content">
                    <p><h6>Sakurada Reset</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-sakurada-reset-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.pinimg.com/originals/18/23/14/18231418634eadd3402c23e4f96ab617.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Magi</span>
                </div>
                <div class="card-content">
                    <p><h6>Magi</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/anime/anime-magi-video-all-mawasem-watch-download-hd/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.pinimg.com/originals/ac/15/7b/ac157bf0cd1cda5dfd7e7f88206a26ca.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Magic Kaito</span>
                </div>
                <div class="card-content">
                    <p><h6>Magic Kaito</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-magic-kaito-1412-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://thicc.mywaifulist.moe/series/1270/1270.jpg"style="height:9.5cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Rokudenashi Majutsu Koushi to Akashic Records</span>
                </div>
                <div class="card-content">
                    <p><h6>Rokudenashi Majutsu Koushi to Akashic Records</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-rokudenashi-majutsu-koushi-to-akashic-records-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://m.media-amazon.com/images/M/MV5BMmY1M2YzYzctZGJjZC00YTJkLTljMGQtMGJhOTczMjk1ODFmXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Nichijou</span>
                </div>
                <div class="card-content">
                    <p><h6>Nichijou</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-nichijou-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://ww1.animeiat.co/wp-content/uploads/2019/07/68297l.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Plastic memories</span>
                </div>
                <div class="card-content">
                    <p><h6>Plastic memories</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://www.zimabdko.com/episodes/?season=2467"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.pinimg.com/474x/4a/6d/2b/4a6d2be4daac9c55c85489f4d07fec09.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Revisions</span>
                </div>
                <div class="card-content">
                    <p><h6>Revisions</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-revisions-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.pinimg.com/474x/4c/f4/41/4cf4411c32711bfb333e88388e5bcd66.jpg"style="height:10cm">
                    <span class="card-title" style="font-family: cursive">Saiki kusuo</span>
                </div>
                <div class="card-content">
                    <p><h6>Saiki kusuo</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://www.zimabdko.com/episodes/?season=25249"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/813Sy4L+20L.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Sakamoto desu ga</span>
                </div>
                <div class="card-content">
                    <p><h6>Sakamoto desu ga</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://shahiid-anime.net/episodes/?season=23150"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://pics.filmaffinity.com/The_Pet_Girl_of_Sakurasou_TV_Series-787351441-large.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Sakurasou</span>
                </div>
                <div class="card-content">
                    <p><h6>Sakurasou</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://shahiid-anime.net/episodes/?season=927"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://pm1.narvii.com/6602/b56c2cb517f15dd5740901b53e77cdc1d73504af_hq.jpg"style="height:10cm">
                    <span class="card-title" style="font-family: cursive">Ousama Game The Animation</span>
                </div>
                <div class="card-content">
                    <p><h6>Ousama Game The Animation</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-ousama-game-the-animation-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.pinimg.com/originals/64/67/ec/6467ec915b3cb57d299df260067b7524.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Golden Time</span>
                </div>
                <div class="card-content">
                    <p><h6>Golden Time</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://shahiid-anime.net/episodes/?season=10183"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://m.media-amazon.com/images/I/91ivVbk4INL.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Grand Blue</span>
                </div>
                <div class="card-content">
                    <p><h6>Grand Blue</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-grand-blue-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://static.zerochan.net/Slam.Dunk.full.158898.jpg"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Slam Dunk</span>
                </div>
                <div class="card-content">
                    <p><h6>Slam Dunk</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://animelek.tv/seasons/anime-slam-dunk-mawsem-1-video-watch-all-7alqa-hd-anime2001/"><h7>watch</h7></a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.anime-planet.com/images/anime/covers/bakuman-2-3999.jpg?t=1534129159"style="height:10cm">
                    <span class="card-title" style="color:black ; font-family: cursive">Bakuman</span>
                </div>
                <div class="card-content">
                    <p><h6>Bakuman</h6></p>
                </div>
                <div class="card-action">
                    <a href="https://shahiid-anime.net/seasons/?serie=36837"><h7>watch</h7></a>
                </div>
            </div>
        </div>
    </div>
    <ul class="pagination" style="text-align:center">
        <li class="disabled"><a href="#!"><i class="material-icons" style="color:hotpink">chevron_left</i></a></li>
        <li class=" waves-effect waves-pink" style="background-color:black"><a href="pink" style="color:white">1</a></li>
        <li class=" waves-effect waves-pink" style="background-color:black"><a href="pink_page2" style="color:white">2</a></li>
        <li class=" waves-effect waves-pink" style="background-color:black"><a href="pink_page3" style="color:white">3</a></li>
        <li class="active" style="background-color:hotpink"><a href="pink_page4" style="color:white">4</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons" style="color:hotpink">chevron_right</i></a></li>
    </ul>
</div>
{% endblock content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="base.javaScript.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/materialize/0.98.2/js/materialize.min.js"></script>
<script src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-all-min.js?v=3413361328181621882" crossorigin="anonymous"></script>
</body>
</html>